---
---

.post-title {
  margin-bottom: 0;
}

.excerpt {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p:has(img) {
  text-align: center;
}

@media (max-width: 1060px) {
  .wrapper > section {
    padding: 1.2rem;
  }
}
